* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 100vh;
    background-color: hsl(201, 100%, 96%);
}

header {
    height: 96px;
}

h1 {
    float: left;
    margin-top: 24px;
    font-size: 48px;
    /* color: hsl(210, 24%, 16%); */
    color: hsl(200, 82%, 24%);
    letter-spacing: -1px;
}

.board {
    position: absolute;
    width: 768px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 24px;
    background-color: white;
    border-top: solid 8px hsl(200, 82%, 24%);
    box-shadow: 0 10px 20px rgba(0,0,0,.15), 0 3px 6px rgba(0,0,0,.10);
}

.boost-button {
    position: relative;
    float: right;
    font-size: 30px;
    color: hsl(200, 82%, 24%);
    padding: 8px 16px 8px 48px;
    margin: 24px 0;
    border: solid 4px  hsl(200, 82%, 24%);
    border-radius: 8px;
}

#boost {
    position: absolute;
    transform: scale(-1, 1);
    top: -4px;
    left: 8px;
}

.track {
    min-height: 128px;
    position: relative;
    background-color: hsl(210, 24%, 16%);
    border-bottom: dashed hsl(201, 100%, 96%) 4px;
    border-right: dashed hsl(201, 100%, 96%) 8px;
}

.racer {
    position: absolute;
    font-size: 72px;
    transform: scale(-1, 1);
    transition: left 0.2s ease-in;
    left: 0;
    top: 16px;
}

.racer,
.boost-button,
h1 {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
